body{
	font-family:"Roboto",sans-serif;
	background-color: #efefef;
	background-image: url("../img/bg.jpg");
	padding: 0px;
	margin: 0px;
}

.card>h1{
	margin-top: 0px;
	text-align: center;
}

.card p,.card li{
	color: #484848;
}

.card a{
	text-decoration: none;
}

/*Set Box properties here*/
.card,
.card.z-0{
	width:98%;
	max-width: 500px;
	margin: auto;
	margin-top: 40px;
	padding:40px;
	border-radius: 2px;
	background-color: white;
	transition: all 0.5s cubic-bezier(.25,.8,.25,1);
}

.card.z-1{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card.z-2{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.card.z-3{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card.z-4{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.card.z-5{
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.card.hover:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

/* Card Size */
.card.small{max-width: 300px;}
.card.large{max-width: 700px;}


*{
	box-sizing: border-box;
}
